.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.detail-container-text{
  
    font-weight: 500;
    font-family:  "Poppins";
    font-size:  56px;
    line-height:  64px;
    text-transform:  uppercase,
  
}

.detail-container{

    display: flex;
    flex-direction: column;
    justify-content: flex start;
    gap: 48px;
}
